<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<HEAD>
    <TITLE>
        {$ title-nohtml $}
    </TITLE>
</HEAD>
<BODY bgcolor="{$ bgColor $}">
<CENTER>
    <H1>
        {$ title $}
    </H1>
    <TABLE>
        <TR>
            <TD>
                {$ intro $}
            </TD>
        </TR>
        <TABLE>
            <TR>
                {$ foreach $}
                <TD bgcolor="{$ color $}">
                    <TABLE>
                        <TR>
                            <TD>
                                <A href='javascript:void window.open("html/me_{$ imageName $}.html",
                  "popupName","toolbar=0,location=0,directories=0,status=0,menubar=0,scrollbars=1,width={$ mediumWidth $}+30,height={$ mediumHeight $}+30,resizable")'>
                                    <IMG src="smaller/sm_{$ imageName $}" width="{$ imageWidth $}"
                                         height="{$ imageHeight $}"></A>
                            </TD>
                            <TD valign="top" align="left" width="120">
                                {$ comment $}
                            </TD>
                            <TD valign="bottom" align="right" width="0">
                                <A alt='order print' href="#"
                                   onclick='foto("{$ imageName $}",{$ originalWidth $},{$ originalHeight $});return false'
                                   border="0"><IMG src="photo.png" alt='order print' border="0"></A>
                            </TD>
                        </TR>
                    </TABLE>
                </TD>
                {$ next $}
            </TR>
        </TABLE>
        <TABLE>
            <TR>
                <TD>
                    {$ prolog $}
                </TD>
            </TR>
            <TABLE>
</CENTER>
<SCRIPT>
    function foto(imagename, width, height) {
        document.sflyc4p.returl.value = document.location;
        document.sflyc4p.imrawheight.value = height;
        document.sflyc4p.imrawwidth.value = width;
        baseEnd = document.location.href.lastIndexOf('/');
        base = document.location.href.substring(0, baseEnd + 1);
        document.sflyc4p.imraw.value = base + imagename;
        document.sflyc4p.imthumb.value = base + 'smaller/sm_' + imagename;
        document.sflyc4p.submit();
    }
</SCRIPT>
<FORM name='sflyc4p' action='http://www.shutterfly.com/c4p/UpdateCart.jsp' method='post'>
    <INPUT type="hidden" name="addim" value="1"><INPUT type="hidden" name="protocol" value=
        'SFP,100'><INPUT type="hidden" name="pid" value="C4P"><INPUT type="hidden" name="psid" value=
        "AFFL"><INPUT type="hidden" name=
        "returl" value='this-gets-set-by-javascript-in-onClick'><INPUT id="imraw" type="hidden" name=
        "imraw-1" value='someurl'><INPUT id="imrawheight" type="hidden" name="imrawheight-1" value=
        '1200'><INPUT id="imrawwidth" type="hidden" name="imrawwidth-1" value='1600'><INPUT id=
                                                                                                    "imthumb"
                                                                                            type="hidden"
                                                                                            name="imthumb-1"
                                                                                            value='someval'><INPUT
        type="hidden" name=
        "imbkprntb-1" value='Hi'>
</FORM>
</BODY>
</HTML>

